* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.mainmenu a {
    display: inline-block;
    position: sticky;
    color:#178582 ;
    text-decoration: none; /* opsional: hilangkan garis bawah */
    font-size: 25px;
    padding: 6px 10px;
    background-color:#112236 ;
    margin: 10px;   
    width: 150px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    transition: 0.3s ease , background-color 0.3s ease;
    font-weight: bold;
    
    
}
.mainmenu ul {
  display: flex;           /* bikin anak-anak <li> sejajar horizontal */
  justify-content: center; /* rata tengah */
  gap: 20px;               /* jarak antar tombol */
  list-style: none;        /* hilangkan bullet/titik */
  padding: 0;
  margin: 0;
}

.mainmenu li {
  list-style: none;        /* pastikan bullet hilang */
}

.mainmenu {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 20px;
    align-items: center;
    
}

.mainmenu a:hover {
    background-color: #178582;
    color: #000000;
    box-shadow: 0 0 10px #45daa8, 0 0 20px #45daa8;
    transform: scale(1.3);
}

hr {
    background-color: #bfa181;
    height: 3px; /* tambahkan tinggi agar warna terlihat */
    border: none; /* hilangkan garis default */
    width: 100%;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.425);


}
.fotobox  img{
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
    
}
.fotobox img:hover {
    box-shadow: 0 0 15px #456dda, 0 0 30px #45daa8;
    transform: scale(1.1);
    transition: 0.3s ease;
}

