* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.mainmenu a {
    display: inline-block;
    color:#178582 ;
    text-decoration: none; /* opsional: hilangkan garis bawah */
    font-size: 25px;
    padding: 6px 15px;
    background-color:#111111 ;
    border: #178582 2px solid;
    margin: 10px;  
    padding: 5px 20px;
    width: 130px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    transition: 0.3s ease;
    
}

.mainmenu {
    text-align: center;
    padding: 20px;
}

.mainmenu a:hover {
    background-color: #178582;
    color: #000000;
    transform: scale(1.1);
}

hr {
    background-color: #178582;
    height: 1px; /* tambahkan tinggi agar warna terlihat */
    border: none; /* hilangkan garis default */
    width: 100%;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.425);


}
.fotobox {
    border: #178582; 
    border-radius: 50%; 
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    margin: auto; 
    margin-top: 5px; 
    margin-bottom: 40px; 
    border-width: 4px; 
    border-style: solid;

}
.fotobox img:hover {
    transform: scale(1.3);
    transition: 0.5s ease; 
    
}
.tayangan {
    text-align: center;
    
    margin-top: 30px;
    
}
.tayangan p {
    display: inline-block;
    color:#178582 ;
    font-size: 25px;
    font-weight: bold;
    padding: 6px 15px;
    margin: 10px;   
    width: 170px;
    height: 250px;
    line-height: 30px;
    border-radius: 25px;
    transition: 0.3s ease;
    /* sesuaikan dengan tinggi header */


}
.p1 {
    background-image: url(arsip/jasan.jpg);
    background-size: cover;
    
}
.p2 {
    background-image: url(arsip/techdev.jpg);
    background-size: cover;
}
.p3 {
    background-image: url(arsip/fotoai.webp);
    background-size: cover;
}
.p4 {
    background-image: url(arsip/ngaji.jpg);
    background-size: cover;
}
.tayangan p:hover {
    background-color: #178582;
    color: #2f5379;
    transform: scale(1.2);
}

.card {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 250px;
  margin: 10px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.popup {
  position: absolute;
  bottom: -100%;
  left: -5%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 10px;
  text-align: center;
  transition: bottom 0.3s ease;
  font-weight: bold;
}

.card:hover .popup {
  bottom: 0;
}
.biodata {
    background-color: #111111;
    margin: 10%;
    padding: 10px;
    border-radius: 15px;
    height: 5000px;

    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-weight: 1.5rem;
    font-size: 30px;
    color: white;
}

.title span:after {
    content: 'Student';
    animation: word 6s infinite;
}

@keyframes word {
    0%, 20% {
        content: 'Student';
        color: #178582;
    }
    25%, 45% {
        content: 'Backend Developer';
        color: lightskyblue;
    }
    50%, 70% {
        content: 'Web Developer';
        color: palegreen;
    }
    75%, 100% {
        content: 'Freelancer';
        color: aquamarine;
    }
}

.wrapper {
    text-align: center;
    margin-top: 20px;
}