* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainmenu a {
    display: inline-block;
    color:#178582 ;
    text-decoration: none; /* opsional: hilangkan garis bawah */
    font-size: 25px;
    padding: 6px 15px;
    background-color:#112236 ;
    margin: 10px;   
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    transition: 0.3s ease;
    
}

.mainmenu {
    text-align: center;
    padding: 20px;
}

.mainmenu a:hover {
    background-color: #178582;
    color: #000000;
    transform: scale(1.1);
}

hr {
    background-color: #bfa181;
    height: 3px; /* tambahkan tinggi agar warna terlihat */
    border: none; /* hilangkan garis default */
    width: 100%;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.425);


}
.fotobox {
    border: white; 
    border-radius: 50%; 
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    margin: auto; 
    margin-top: 5px; 
    margin-bottom: 40px; 
    border-width: 10px; 
    border-style: solid;

}
.fotobox img:hover {
    transform: scale(1.3);
    transition: 0.5s ease; 
    
}
.tayangan {
    text-align: center;
    margin-top: 30px;
    
}
.tayangan p {
    display: inline-block;
    color:#178582 ;
    font-size: 25px;
    font-weight: bold;
    padding: 6px 15px;
    margin: 10px;   
    width: 170px;
    height: 250px;
    line-height: 30px;
    border-radius: 25px;
    transition: 0.3s ease;
}
.p1 {
    background-image: url(arsip/jasan.jpg);
    background-size: cover;
    
}
.p2 {
    background-image: url(arsip/techdev.jpg);
    background-size: cover;
}
.p3 {
    background-image: url(arsip/fotoai.webp);
    background-size: cover;
}
.p4 {
    background-image: url(arsip/ngaji.jpg);
    background-size: cover;
}
.tayangan p:hover {
    background-color: #178582;
    color: #000000;
    transform: scale(1.2);
}


