.mainmenu a {
    display: inline-block;
    color:#178582 ;
    text-decoration: none; /* opsional: hilangkan garis bawah */
    font-size: 25px;
    padding: 6px 15px;
    background-color:#112236 ;
    margin: 10px;   
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.mainmenu {
    text-align: center;
    padding: 20px;
}

.mainmenu a:hover {
    background-color: #178582;
    color: #000000;
    transform: scale(1.1);
}

hr {
    background-color: #bfa181;
    height: 3px; /* tambahkan tinggi agar warna terlihat */
    border: none; /* hilangkan garis default */
    width: 100%;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.425);


}

